.tnd-form{
  &__label{
    display: block;
  }
  &__control{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__input, &__select_wrapper, &__submit{
    border: 1px solid currentColor;
    padding: 0.7rem 1rem;
    width: 100%;
  }
  &__select_wrapper{
    select{
      width: 100%;
    }
  }
  &__radio_wrapper, &__checkbox_wrapper{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &__radio_label, &__checkbox_label{
    display: inline-block;
    margin-right: 1rem;
  }
  &__submit{
    margin-top: 1rem;
    margin-bottom: 1rem;
    &:hover{
      box-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
    }
  }
}
