{{/*
  GetConfig
  Retrieve the module's config set in the site's Params.

  @author @regisphilibert

  @context Anything (.)

  @access private

  @return Map

  @example - Go Template
    {{ with partialCached "tnd-forms/private/GetConfig" "GetConfig" }}
      {{ $config := . }}
    {{ end }}
*/}}

{{/* For now we have to add empty keys for css until code is refatored to take into account missing config classes */}}
{{ $config := `
css:
  form: ''
  control: ''
  required: ''
  submit: ''
  input: ''
  textarea: ''
  label: ''
  select: ''
  select_wrapper: ''
  select_fake: ''
  checkbox: ''
  checkbox_label: ''
  radio: ''
  radio_label: ''
` | transform.Unmarshal }}
{{ with site.Params.tnd_forms }}
  {{ $config = merge $config . }}
{{ end }}

{{ return $config }}