{{/*
  GerRecaptchaData
  Retrieve and format recaptcha options from a form

  @author @regisphilibert

  @context Map ()

  @access private

  @returns Map
    String (.key)
    Int (.version)

*/}}
{{ $reca := dict }}
{{ $provider := partial "tnd-forms/private/GetProvider" . . }}
{{ $key := "" }}
{{ $version := 0 }}
{{ with .recaptcha }}
  {{ with .key }}
    {{ $key = . }}
    {{/* If a key is found we default to V3 for Formspree and V2 For Netlify */}}
    {{ if eq $provider "netlify" }}
      {{ $version = 2 }}
    {{ else }}
      {{ $version = 3 }}
    {{ end }}
  {{ end }}
  {{ with .version }}
    {{ $version = int . }}
  {{ end }}
{{ end }}
{{ with $key }}
  {{ $reca = dict "key" $key "version" $version }}
{{ end }}

{{ return $reca }}